@model HomeBanner

    <div class="slide slideanimate">
        <img id="homebannerid" class="slide-img" style="filter: opacity(60%);" src="~/images/@Model.Bannerİmage" alt="">
        <div id="slider_content" class="slide-content text-center">
                <h1 id="headerid">@Model.BannerHeader</h1>
                <hr>
                <span id="textid">@Model.BannerText</span>
                <p><a href="/abouts" class="btn btn-info btn-learn mt-5">Learn More<i class="icon-arrow-right3"></i></a></p>
                <div class="btn-slide-container">
                        <a class="prev" onclick="btnL(-1) " type="button">
                            <i style="color: white;" class="fa-solid fa-chevron-left fa-chevron fa-5x"></i>
                        </a>
                        <a class="next" onclick="btnR(1) " type="button">
                            <i style="color: white;" class="fa-solid fa-chevron-right fa-chevron fa-5x"></i>
                        </a>
                </div>
        </div>
    </div>

    <div class="slide slideanimate">
        <img id="homebannerid" class="slide-img" style="filter: opacity(60%);" src="~/images/web_bg2.jpg" alt="">
        <div id="slider_content" class="slide-content text-center">
                <h1 id="headerid">@Model.BannerHeader</h1>
                <hr>
                <span id="textid">@Model.BannerText</span>
                <p><a href="/abouts" class="btn btn-info btn-learn mt-5">Learn More<i class="icon-arrow-right3"></i></a></p>
                <div class="btn-slide-container">
                        <a class="prev" onclick="btnL(-1) " type="button">
                            <i style="color: white;" class="fa-solid fa-chevron-left fa-chevron fa-5x"></i>
                        </a>
                        <a class="next" onclick="btnR(1) " type="button">
                            <i style="color: white;" class="fa-solid fa-chevron-right fa-chevron fa-5x"></i>
                        </a>
                </div>
        </div>
    
    </div>

    <div class="slide slideanimate">
        <img id="homebannerid" class="slide-img" style="filter: opacity(60%);" src="~/images/web_bg3.jpg" alt="">
        <div id="slider_content" class="slide-content text-center">
                <h1 id="headerid">@Model.BannerHeader</h1>
                <hr>
                <span id="textid">@Model.BannerText</span>
                <p><a href="/abouts" class="btn btn-info btn-learn mt-5">Learn More<i class="icon-arrow-right3"></i></a></p>
                <div class="btn-slide-container">
                        <a class="prev" onclick="btnL(-1) " type="button">
                            <i style="color: white;" class="fa-solid fa-chevron-left fa-chevron fa-5x"></i>
                        </a>
                        <a class="next" onclick="btnR(1) " type="button">
                            <i style="color: white;" class="fa-solid fa-chevron-right fa-chevron fa-5x"></i>
                        </a>
                </div>
        </div>
    
    </div>

    
    