@model UserDetailsModel
<h1 class="h3 mt-4">Edit User</h1>
<hr>

        <form asp-controller="Admin" asp-action="UserEdit" method="POST">
        <div class="row m-0">
            <div class="col-md-12">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="row m-0">
                        <div class="col-md-9 p-0">
                            <div class="form-group row m-2">
                                <input type="hidden" name="UserId" value="@Model.UserId">
                                <label asp-for="FirstName" class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-10">
                                    <input  class="form-control" asp-for="FirstName">
                                </div>
                            </div>
                            <div class="form-group row m-2">
                                <label asp-for="LastName" class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-10">
                                    <input class="form-control" asp-for="LastName">
                                </div>
                            </div>
                            <div class="form-group row m-2">
                                <label asp-for="UserName" class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-10">
                                    <textarea id="editor" class="form-control" asp-for="UserName"></textarea>
                                </div>
                            </div>
                            <div class="form-group row m-2">
                                <label asp-for="Email" class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-10">
                                    <textarea id="editor" class="form-control" asp-for="Email"></textarea>
                                </div>
                            </div>
                            <div class="form-group row m-2">
                                <div class="col-sm-10 offset-sm-2">
                                    <button type="submit" class="btn btn-primary">Save Changes</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 p-0">
                            @foreach (var rolename in ViewBag.Roles)
                                {
                                <div class="custom-control custom-checkbox mt-3">
                                    @* Any metodu bool (true-false) değer döndürür , eğer datadan gelen ile eşleşiyorsa
                                        checked metodu ile checkboxlar işaretlenir. *@
                                    <input type="checkbox" class="custom-control-input"
                                        id="@rolename"
                                        name="selectedRoles"
                                        value="@rolename"
                                        @(Model.SelectedRoles.Any(i=>i==rolename)?"checked":"")>
                                    <label class="custom-control-label" for="@rolename">@rolename</label>
                                </div>
                                }
                                <hr>

                                <div class="custom-control custom-checkbox">
                                    <input asp-for="EmailConfirmed" type="checkbox" class="custom-control-input">
                                    <label asp-for="EmailConfirmed" class="custom-control-label">Onaylı</label>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
 @section Scripts
 {

 }